@font-face {
  font-family: "IM Fell Types";
  src: url("fonts/imfelltypes/imfellenglish/FeENsc2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GaramondItalic";
  src: url("fonts/garamond/1592-glc-garamond-font/1592GLCGaramondItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GaramondBold";
  src: url("fonts/garamond/1592-glc-garamond-font/1592GLCGaramondBold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IlShakeFest";
  src: url("fonts/ilshakefest/ilshake.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PortuguesAreaicoLectura";
  src: url("fonts/portugues-arcaico-lectura/PortuguesArcaicoLectura.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LoveLetter";
  src: url("fonts/loveletter/LoveletterNo9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("img/background.JPG"), url("img/background-rotado.JPG");
  background-repeat: repeat-y, repeat-x;
  background-position: center top, center bottom;
  background-size: cover;
  justify-self: center;
  padding-top: 8%;
  padding-bottom: 8%;
  font-family: "IM Fell Types", sans-serif;
  font-size: 10px;
}

.masonry {
  column-count: 3;
  column-gap: 1rem;
}

.card {
  break-inside: avoid;
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media (max-width: 900px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .masonry {
    column-count: 1;
  }
}

.whole-page {
  justify-items: center;
  justify-content: center;
  padding: 2%;
  padding-bottom: 15%;
}
